<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Troy Hunt</h4>
            <p>{{@blog.description}} <a href="/about" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>
    {{/is}}
    
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Upcoming Events</h4>
        <p>I usually run <a href="/workshops">private workshops</a> around these, here's the upcoming public events I'll be at:</p>
        <ol>
            <li><a href="https://www.eventbrite.com/e/brisbane-global-azure-bootcamp-tickets-29764737130">Azure Global Bootcamp: 22 Apr, Brisbane (Australia)</a> &mdash; Applied Azure: Building a Large Scale Real World Application on a Coffee Budget</li>
            <li><a href="https://conference.auscert.org.au/">AusCERT: 23-26 May, Gold Coast (Australia)</a> &mdash; The Responsibility of Disclosure: Playing Nice and Staying Out of Prison</li>
            <li><a href="https://www.meetup.com/0xOPOSEC/">0xOPOSEC Meetup: 29 May, Porto (Portugal)</a> &mdash; Lessons from Billions of Breached Records</li>
            <li><a href="https://www.zionsecurity.com/event/security-workshop-troy-hunt-187">ZIONSECURITY: 1-2 Jun, Leuven (Belgium)</a> &mdash; Two Day Workshop: Hack Yourself First: How to go on the Cyber-Offence</li>
            <li><a href="http://www.azug.be/events/2017/04/22/building-a-large-scale-real-world-application-on-a-coffee-budget">Belgium Azure User Group: 1 June, Leuven (Belgium)</a> &mdash; Applied Azure: Building a Large Scale Real World Application on a Coffee Budget</li>
            <li><a href="https://www.meetup.com/en-AU/nnug-trondheim/events/238378453/?eventId=238378453">Norwegian .NET User Group: 9 June, Trondheim (Norway)</a> &mdash; Something Something Cyber</li>
            <li><a href="http://ndcoslo.com">NDC Oslo: 12-16 Jun, Oslo (Norway)</a> &mdash; Two Day Workshop: Hack Yourself First: How to go on the Cyber-Offence |  Something Something Cyber | From Corporate Wage Slave to Complete Independence</li>
            <li><a href="https://www.meetup.com/OWASP-Norway/events/238611471/">OWASP Norway: 12 June, Oslo (Norway)</a> &mdash; Lessons from Billions of Breached Records</li>
            <li><a href="https://skillsmatter.com/meetups/9277-london-dot-net-june-meetup">London .NET Users &amp; Azure User Group: 27 June, London (UK)</a> &mdash; Clouds, Codes and Cybers</li>
            <li><a href="https://www.meetup.com/DeveloperSouthCoast/events/238643287/">Developer South Coast: 29 June, Southampton (UK)</a> &mdash; Clouds, Codes and Cybers</li>
            <li><a href="http://ndcsydney.com">NDC Sydney: 14-18 Aug, Sydney (Australia)</a></li>
            <li><a href="https://www.pluralsight.com/event-details/2017/live-2017">Pluralsight Live: 19-21 Sep, Salt Lake City (USA)</a></li>
        </ol>
    </div>

    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Must Read</h4>
        {{#get "posts" limit="all" filter="featured:true"}}
            <ul>
            {{#foreach posts}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
            </ul>
        {{else}}
            {{#if @error}}{{@error}}{{/if}}
        {{/get}}
    </div>
    
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Top Pluralsight Courses</h4>
        <ol>
            <li><a href="https://app.pluralsight.com/library/courses/owasp-top10-aspdotnet-application-security-risks/table-of-contents">OWASP Top 10 Web Application Security Risks for ASP.NET</a></li>
            <li><a href="https://app.pluralsight.com/library/courses/hack-yourself-first">Hack Yourself First: How to go on the Cyber-Offense</a></li>
            <li><a href="https://app.pluralsight.com/library/courses/ethical-hacking-social-engineering/table-of-contents">Ethical Hacking: Social Engineering</a></li>
            <li><a href="https://app.pluralsight.com/library/courses/modernizing-websites-microsoft-azure/table-of-contents">Modernizing Your Websites with Azure Platform as a Service</a></li>
            <li><a href="https://www.pluralsight.com/courses/browser-security-headers">Introduction to Browser Security Headers</a></li>
        </ol>
    </div>

</div>
