<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Troy Hunt</h4>
            <p>{{@blog.description}} <a href="/about" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>
        
        <hr/>
    {{/is}}
    
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Upcoming Events</h4>
        <p>I usually run <a href="/workshops">private workshops</a> around these, here's the upcoming public events I'll be at:</p>
        <ol>
            <li><a href="http://techorama.be">Techorama: 3-4 May, Mechelen (Belgium)</a></li>
            <li><a href="https://conference.auscert.org.au/">AusCERT: 23-27 May, Gold Coast (Australia)</a></li>
            <li><a href="http://ndcoslo.com/">NDC Oslo: 6-10 Jun, Oslo (Norway)</a></li>
            <li><a href="https://www.learningconnexions.com/courses/Hack-Yourself-First%E2%80%93The-Workshop/382">“Hack Yourself First” – The Workshop: 13-14 Jun, London (United Kingdom)</a></li>
            <li><a href="http://ndcsydney.com/">NDC Sydney: 1-5 Aug, Sydney (Australia)</a></li>
            <li><a href="http://www.ipadpaloozagc.com/">iPadlooza: 28-29 Sep, Gold Coast (Australia)</a></li>
            <li><a href="">Microsoft MVP Summit: ~Nov, Seattle (United States)</a></li>
        </ol>
    </div>
    
    <hr/>
    
    <div id="ad1" class="panel" data-type="ad" data-publisher="lqm.troyhunt.site" data-zone="ron" data-format="300x250"></div>
        
    <hr/>

    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Must Read</h4>
        {{#get "posts" limit="all" filter="featured:true"}}
            <ul>
            {{#foreach posts}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
            </ul>
        {{else}}
            {{#if @error}}{{@error}}{{/if}}
        {{/get}}
    </div>
    
    <hr/>
    
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Top Pluralsight Courses</h4>
        <ol>
            <li><a href="https://app.pluralsight.com/library/courses/owasp-top10-aspdotnet-application-security-risks/table-of-contents">OWASP Top 10 Web Application Security Risks for ASP.NET</a></li>
            <li><a href="https://app.pluralsight.com/library/courses/hack-yourself-first">Hack Yourself First: How to go on the Cyber-Offense</a></li>
            <li><a href="https://app.pluralsight.com/library/courses/ethical-hacking-social-engineering/table-of-contents">Ethical Hacking: Social Engineering</a></li>
            <li><a href="https://app.pluralsight.com/library/courses/modernizing-websites-microsoft-azure/table-of-contents">Modernizing Your Websites with Azure Platform as a Service</a></li>
            <li><a href="http://app.pluralsight.com/courses/browser-security-headers">Introduction to Browser Security Headers</a></li>
        </ol>
    </div>
    
    <hr/>
    
    <div id="ad2" class="panel" data-type="ad" data-publisher="lqm.troyhunt.site" data-zone="ron" data-format="160x600"></div>

</div>
