<!doctype html>
<html class="no-js" lang="en">

<head>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Page Meta }}
    <title>Troy Hunt: {{meta_title}}</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{! Place favicon.ico in the asset directory }}
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="{{asset "css/main.min.css"}}">
    <link href="//fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-10949399-1', 'auto');ga('send', 'pageview');</script>
</head>

<body class="{{body_class}}">
    {{! Everything else gets inserted here }}

    <div id="container">
        {{{body}}}        
    </div>

    {{! Footer }}
    <footer id="footer">
    {{! Footer - Subscription }}
    {{> footer-subscription-block}}

    {{! Footer - Colons info }}
    {{> footer-info-block}}

    {{! Footer - info }}
    <div class="footer_info_block container">
        <div class="footer_info wrap">
            <div class="footer_socialIcons">
                {{> social-icons}}
            </div>
        </div>
    </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript">!function(s){"use strict";function e(s){return new RegExp("(^|\\s+)"+s+"(\\s+|$)")}function n(s,e){var n=a(s,e)?c:t;n(s,e)}var a,t,c;"classList"in document.documentElement?(a=function(s,e){return s.classList.contains(e)},t=function(s,e){s.classList.add(e)},c=function(s,e){s.classList.remove(e)}):(a=function(s,n){return e(n).test(s.className)},t=function(s,e){a(s,e)||(s.className=s.className+" "+e)},c=function(s,n){s.className=s.className.replace(e(n)," ")});var i={hasClass:a,addClass:t,removeClass:c,toggleClass:n,has:a,add:t,remove:c,toggle:n};"function"==typeof define&&define.amd?define(i):s.classie=i}(window);!function(){function e(){n()}function n(){d.addEventListener("click",t),i&&i.addEventListener("click",t),o.addEventListener("click",function(e){var n=e.target;u&&n!==d&&t()})}function t(){u?classie.remove(c,"show-menu"):classie.add(c,"show-menu"),u=!u}var c=document.body,o=document.querySelector("#container"),d=document.getElementById("open-button"),i=document.getElementById("close-button"),u=!1;e()}();function _dmBootstrap(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://":"http://")+e,(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(t)}function _dmFollowup(e){"undefined"==typeof DMAds&&_dmBootstrap("cdn2.DeveloperMedia.com/a.min.js")}function showUnsponsored(){document.getElementById("message_contents").innerHTML="<a href='/sponsorship'><strong>Sponsored by:</strong> I'm unsponsored today, click to learn more</a>",function(){_dmBootstrap("cdn1.DeveloperMedia.com/a.min.js"),setTimeout(_dmFollowup,2e3)}()}function showSponsor(e){document.getElementById("message_contents").innerHTML='<a href="'+e.campaignUrl+'" target="_blank" rel="noopener"><strong>Sponsored by:</strong> '+e.message+' <i class="fa fa-external-link" aria-hidden="true"></i></a>',[].forEach.call(document.querySelectorAll(".ad"),function(e){e.style.display="none"})}var xmlhttp=new XMLHttpRequest,url="https://bloghelpers.troyhunt.com/api/CurrentSponsor";xmlhttp.onreadystatechange=function(){if(4===this.readyState&&200===this.status){var e=JSON.parse(this.responseText);null==e?showUnsponsored():showSponsor(e)}else 4===this.readyState&&200!==this.status&&showUnsponsored()},xmlhttp.open("GET",url,!0),xmlhttp.send();var disqus_shortname="troyhunt";!function(){var e=document.createElement("script");e.async=!0,e.type="text/javascript",e.src="//"+disqus_shortname+".disqus.com/count.js",(document.getElementsByTagName("HEAD")[0]||document.getElementsByTagName("BODY")[0]).appendChild(e)}();</script>
</body>
</html>
