{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{! Header transparent}}
{{> header}}

<div class="pages container {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="hover"></div>
    <article class="article-open_item wrap">
        <header class="post_head">
            <h1>{{{title}}}</h1>       
        </header>
        <section>
            <p class="post_text" itemprop="description">{{meta_description}}</p>
        </section>
    </article>
</div>

<main class="article-open_content container">
    <article class="wrap">
        <section class="article_text post">
            {{content}}
        </section>
        </div>
    </article>
</main>
{{/post}}