{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{! Header transparent}}
{{> header}}

<div class="article_feature_first-img container" style="background-image: url({{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}})">
    <div class="hover"></div>
    <article class="article_item_first wrap hover container">
        <header class="post_head">
            <h1>{{title}}</h1>
        </header>
        <section>
            <p class="blog_description post_text" itemprop="description">{{meta_description}}</p>
        </section>
    </article>
</div>

<div class="main-wrapper">
    <main class="content-wrapper">
        <article class="article container">
            <section class="article_text post">
                {{content}}
                <div class="footer-ad ad">
                    <div id="ad3" data-type="ad" data-publisher="lqm.troyhunt.site" data-zone="ron" data-format="728x90"></div>
                    <div id="ad4" class="panel" data-type="ad" data-publisher="lqm.troyhunt.site" data-zone="ron" data-format="300x250"></div>
                </div>
            </section>
        </article>
    </main>
    {{> sidebar}}
</div>

{{/post}}



