{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{! Header transparent}}
{{> header}}



<div class="post_header container"{{#if image}} style="background-image: url({{image}})"{{/if}}>
  <div class="hover"></div>
</div>



<div class="main-wrapper">
<div class="content-wrapper">

<div class="article-open container no-cover">
    <div class="hover"></div>
    <article class="article-open_item wrap">
        <header class="post_head">
            <h1>{{{title}}}</h1>
            <div class="post_socialIcons">
                <ul>
                    <li class="socialIcons_link">
                        <a class="fa fa-twitter" href="https://twitter.com/share?url={{url absolute="true"}}&text=Troy%20Hunt%3A%20{{encode title}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
                    </li>
                    <li class="socialIcons_link">
                        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    </li>
                    <li class="socialIcons_link">
                        <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    </li>
                    <li class="socialIcons_link linkedin">
                        <a class="fa fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    </li>
                    <li class="socialIcons_link reddit">
                        <a class="fa fa-reddit-alien" href="https://reddit.com/submit?url={{url absolute="true"}}&title=Troy%20Hunt%3A%20{{encode title}}" onclick="window.open(this.href, 'facebook-share','width=580,height=550');return false;"></a>
                    </li>
                    <li class="socialIcons_link">
                        <a class="fa fa-envelope" href="mailto:?subject=Troy%20Hunt%3A%20{{encode title}}&amp;body={{url absolute="true"}}"></a>
                    </li>
                </ul>         
            </div>
            <span class="post_info">{{date format="DD MMMM YYYY"}}</span>
        </header>
    </article>
</div>

<main class="article-open_content container">
    <article class="wrap">
        <section class="article_text post">
            {{content}}
            
            {{#if tags}}
            <section class="article-open_tag">
                {{#foreach tags}}
                <a class="tag" href="{{url}}">{{name}}</a>
                {{/foreach}}
            </section>
            {{/if}}
            <div class="footer-ad ad">
                <div id="ad3" data-type="ad" data-publisher="lqm.troyhunt.site" data-zone="ron" data-format="728x90"></div>
                <div id="ad4" class="panel" data-type="ad" data-publisher="lqm.troyhunt.site" data-zone="ron" data-format="300x250"></div>
            </div>
        </section>
        <footer class="post">
            <section class="article-open_shere">
                <a class="article-open_shere-twitter" href="https://twitter.com/share?text=Troy%20Hunt%3A%20{{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i> Tweet</a>
                <a class="article-open_shere-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i> Post</a>
                <a class="article-open_shere-google" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-google-plus"></i> Share</a>
                <a class="article-open_shere-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-linkedin"></i> Update</a>
                <a class="article-open_shere-email" href="mailto:?subject=Troy%20Hunt%3A%20{{encode title}}&amp;body={{url absolute="true"}}"><i class="fa fa-envelope"></i> Email</a>
                <a class="article-open_shere-feed" href="https://feeds.feedburner.com/TroyHunt"><i class="fa fa-rss"></i> RSS</a>
            </section>
            {{#author}}
            <section class="article-open_author">
                {{#if image}}
                <figure class="article-open_author_image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
                </figure>
                {{/if}}
                <div class="article-open_author_bio">
                    {{#if name}}<h5 itemprop="author" itemscope itemtype="http://schema.org/Person">{{name}}</h5>{{/if}}
                    {{#if bio}}<p>{{bio}} <a href="/about" class="article_link-more fa fa-long-arrow-right"></a></p>{{/if}}
                </div>
            </section>
            {{/author}}
                <div id="disqus_thread"></div>
                <script>
                var disqus_config = function () {
                this.page.url = '{{@blog.url}}{{url}}';
                this.page.identifier = 'ghost-{{id}}';
                };

                (function() {
                var d = document, s = d.createElement('script');

                s.src = '//troyhunt.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </footer>
    </article>
</main>

</div>{{!.content-wrapper}}
{{> sidebar}}
</div>{{!.main-wrapper}}

<aside class="article_readNext">
    {{#next_post}}
    <a class="article_readNext_story col-2" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
        </section>
    </a>
    {{else}}
    <a class="article_readNext_story col-2 no-cover">
        <section class="post">
            <h4>This is already the newest post!</h4>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="article_readNext_story prev col-2" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
        </section>
    </a>
    {{else}}
    <a class="article_readNext_story prev col-2">
        <section class="post">
            <h4>No more prev posts!</h4>
        </section>
    </a>
    {{/prev_post}}
</aside>
{{/post}}
